<div class="top-space" >

  <nav class="navbar navbar-dark my-nav ">
    <span class="navbar-brand">Gerenciar Locais</span>


    <form class="form-inline navbar-right">
      <input class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Procurar</button>
    </form>
  </nav>

</div>

<br>

<table>
  <tr>
    <th>ID</th>
    <th>NOME</th>
    <th>Opções</th>
  </tr>
  <tr *ngFor="let local of locals">
    <td>{{local._id}}</td>
    <td>{{local.name}}</td>
    <td>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="option(local)">opções</button>
    </td>
  </tr>
</table>

<div class="fixed-action-btn" >
  <button class="btn btn-success" (click)="create()" ><span> Adicionar Local</span></button>
</div>
