
<agm-map [latitude]="y" [longitude]="x" [zoom]="13" class="top-space border">
  <ng-container *ngFor="let map of trees">
    <agm-marker  *ngIf = "treeView(map)"
                [latitude]="toNumber(map.location_lat)"
                [longitude]="toNumber(map.location_lng)"
                [iconUrl]="markerIconMapUrl(map)">
      <agm-info-window>
        <div>
          <i>Nome Árvore: {{map.name}}</i>
          <br>
          <i [innerHtml]="treeStatus(map)"></i>
          <br>
          <i *ngIf = "treeStatusBoolean(map)" >Solicitante : {{map._request.requester_name}}</i>
          <br>
          <i *ngIf = "treeStatusBoolean(map)" >Lugar : {{map._request.place}}</i>
        </div>
      </agm-info-window>
    </agm-marker>
  </ng-container>
</agm-map>
