<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <div class="imagem">
      <img src="../assets/img/logo.png" width="150" height="150" />
    </div>
    <h1 class="display-3">Bem vindo ao site da Minha Árvore!</h1>
  </header>


  <header class="jumbotron my-4" >
    <h1 class="display-5">O que é?</h1>
    <p class="lead">Trata-se de um programa de educação ambiental para o plantio de árvores na zonas urbana e rural.
    O programa contempla moradores do bairros das escolas do município. Bem como a participação em diversos eventos através de doação de mudas na mobilização e educação ambiental.
    Os alunos envolvidos recebem um certificado do prefeito Romero Rodrigues com o titulo de "Amigo do Meio Ambiente". Além disso, a arborização dos logradouros públicos também está sendo contemplada com novas mudas de árvores.
    Criado em 2014, o minha árvore já atendeu a 30 bairros, 50 escolas públicas e 6 escolas privadas. Quaisquer morador da cidade pode solicitar um plantio e atualmente o programa já ultrapassou 30.000 mudas.</p>
  </header>

  <header class="jumbotron my-4">
    <h1 class="display-5">Nossas redes sociais:</h1>
    <div class="row">
      <div class="col">
        <a class="fa fa-facebook" target="_blank" href='https://www.facebook.com/Programa-Minha-%C3%81rvore-1774003749541481/'>  Facebook</a>
      </div>
      <div class="col">
        <a class="fa fa-instagram " target="_blank" href='https://www.instagram.com/programminhaarvore/'>  Instagram</a>
      </div>
    </div>
  </header>

  <header class="jumbotron my-4">
    <h1 class="display-5">Nosso Aplicativo!</h1>
    <div class="row">
      <div class="col-sm">
        <img src="../assets/img/app_1.png"  alt="tela inicial">
      </div>
      <div class="col-sm">
        <img src="../assets/img/app_2.webp"  alt="">
      </div>
      <div class="col-sm">
          <img src="../assets/img/app_3.webp"  alt="">
      </div>
      <div class="col-sm">
          <img src="../assets/img/app_4.webp"  alt="">
      </div>
      <div class="col-sm">
          <img src="../assets/img/app_5.webp"  alt="">
      </div>
    </div>
    <br>
    <h3>Baixe agora!<a target="_blank" href='https://play.google.com/store/apps/details?id=net.compcult.minhaarvore&hl=pt-BR&ah=O4YEvv2BwJ6iZR-9tLslOoWfg6c&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img src='https://play.google.com/intl/en_us/badges/images/generic/pt-br_badge_web_generic.png' height="77.39px" width="200px"/></a></h3>
  </header>

    <h1 class="display-5">Eventos</h1>

    <!-- Page Features -->
  <div class="row text-center jumbotron">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/ma_01.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Escola</h4>
          <p class="card-text">Escola onde os alunos são incentivados ao plantio das árvores.</p>
        </div>
        <div class="card-footer">
          <a target="_blank" href="https://www.facebook.com/1774003749541481/photos/a.1780573525551170.1073741827.1774003749541481/2048262852115568/?type=3&theater" class="btn btn-primary faceButton">Ver no Face!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/ma_02.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Escola</h4>
          <p class="card-text">Escola onde os alunos são incentivados ao plantio das árvores.</p>
        </div>
        <div class="card-footer">
          <a target="_blank" href="https://www.facebook.com/1774003749541481/photos/a.1780573525551170.1073741827.1774003749541481/1955724311369423/?type=3&theater" class="btn btn-primary faceButton">Ver no Face!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/ma_03.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Equipe</h4>
          <p class="card-text">Equipe do Minha Árvore</p>
        </div>
        <div class="card-footer">
          <a target="_blank" href="https://www.facebook.com/1774003749541481/photos/a.1780573525551170.1073741827.1774003749541481/1955716774703510/?type=3&theater" class="btn btn-primary faceButton">Ver no Face!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/ma_04.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Plantio</h4>
          <p class="card-text">Momento de plantio das mudas.</p>
        </div>
        <div class="card-footer">
          <a target="_blank" href="https://www.facebook.com/1774003749541481/photos/a.1783339571941232.1073741830.1774003749541481/2073093602965826/?type=3&theater" class="btn btn-primary faceButton">Ver no face!</a>
        </div>
      </div>
    </div>

  </div>



  <div class="row text-center jumbotron">
    <h1 class="display-5">Parceiros</h1>
    <div class="row">
      <div class="col-sm">
        <img src="../assets/img/ufcg.png" width="151" height="167" alt="UFCG">
      </div>
      <div class="col-sm">
        <img src="../assets/img/compcult.png" width="151" height="167" alt="compcult">
      </div>
      <div class="col-sm">
        <img src="../assets/img/dsc.png" width="225" height="167" alt="DSC">
      </div>
      <div class="col-sm">
        <img src="../assets/img/prefeitura.png" width="360" height="167" alt="prefeitura">
      </div>
    </div>
    <!-- /.row -->
  </div>



</div>
<!-- /.container -->
<!-- <div class="container corpo">
  <div class="place banner">
    <h1>aqui uma imagem de minha arvore com a descrição do que é dentro da imagem </h1>
    <p>e um botao para baixar o app</p>
  </div>
  <p>momentos</p>
  <div class="place fotos">
      <h2>aqui vão ficar uma lista com 3 fotos do projeto</h2>
  </div>
  <p>Comentátios</p>
  <div class="place Comentátios">
    <h3>aqui ficara uma lista com 3 comentátios</h3>
  </div>
  <p>Parceiros</p>
  <div class="place parceiros">
    <h4>aqui ficara os incones e descrição dos parceiros</h4>
  </div>
</div> -->
