<div class="top-space">


  <nav class="navbar navbar-dark my-nav ">
    <span class="navbar-brand">Gerenciar Pedidos</span>

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Procurar</button>
    </form>
  </nav>

</div>

<br>

<table>
  <tr>
    <th>ID</th>
    <th>NOME</th>
    <th>LUGAR</th>
    <th>STATUS</th>
    <th>MAPA</th>
    <th>AÇÕES</th>
  </tr>
  <tr *ngFor="let resquest of resquest_trees">
    <td>{{resquest._id}}</td>
    <td>{{resquest.requester_name}}</td>
    <td>{{resquest.place}}</td>
    <td>{{resquest.status}}</td>
    <td><button type="button"(click)="openModal(template)">
        <img [src]="'../assets/img/pin_red_map.png'" width="43" height="43">
        </button>
        <ng-template #template >
          <div class="modal-content">
            <div class="modal-body">
              <agm-map class="modal-map" [latitude]="toNumber(resquest.location_lat)" [longitude]="toNumber(resquest.location_lng)" [zoom]="15" >
                <agm-marker [latitude]="toNumber(resquest.location_lat)"
                            [longitude]="toNumber(resquest.location_lng)"
                            [iconUrl]="'../assets/img/pin_red_map.png'">
                </agm-marker>
              </agm-map>
            </div>
          </div>
        </ng-template>
    </td>
    <td>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="option(resquest)">Opções</button>
    </td>
  </tr>



</table>




<div class="fixed-action-btn" >
  <button class="btn btn-success" (click)="create()" ><span>Novo pedidos</span></button>
</div>
