<div class="top-space">


  <nav class="navbar navbar-dark my-nav ">
    <span class="navbar-brand">Gerenciar pedidos</span>


  <form  #searchForm ="ngForm" (ngSubmit)="search(searchForm)" class="form-inline navbar-right">
    <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-success dropdown-toggle"
        aria-controls="dropdown-basic">
        Filtrar por Status: {{pesquisaPAram}} <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-basic">
        <li ><a class="dropdown-item" (click)="search('Pendente')" >Pendente</a></li>
        <li ><a class="dropdown-item" (click)="search('Aprovado')">Aprovado</a></li>
        <li ><a class="dropdown-item" (click)="search('Plantada')">Plantada</a></li>
        <li ><a class="dropdown-item" (click)="search('Rejeitado')">Rejeitado</a></li>
        <li ><a class="dropdown-item" (click)="search('Todos')">Todos</a></li>
      </ul>
    </div>
    <!-- <input class="form-control mr-sm-2" type="text" placeholder="Procurar" aria-label="Search" [(ngModel)]="searcher.elementoPesquisa" name ="elementoPesquisa" #elementoPesquisa="ngModel">
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Procurar</button> -->
  </form>
</nav>

</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-success" type="button">Nome:</button>
        </div>
        <input (keyup)='updateFilterName($event)' type="text" class="form-control" placeholder="Qual o nome que deseja pesquisar?" aria-label="">
      </div>
    </div>
    <div class="col-sm">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-success" type="button">Bairro</button>
        </div>
        <input (keyup)='updateFilterNeighborhood ($event)' type="text" class="form-control" placeholder="Qual o bairro que deseja pesquisar?" aria-label="">
      </div>
    </div>

  </div>
</div>


<table>
  <tr>
    <th>ID</th>
    <th>NOME</th>
    <th>LUGAR</th>
    <th>BAIRRO</th>
    <th>TELEFONE</th>
    <th>QUANTIDADE</th>
    <th>STATUS</th>
    <th>MAPA</th>
    <th>AÇÕES</th>
  </tr>
  <tr *ngFor="let resquest of resquest_trees">
    <td>{{resquest._id}}</td>
    <td>{{resquest.requester_name}}</td>
    <td>{{resquest.place}}</td>
    <td>{{resquest.neighborhood}}</td>
    <td [innerHtml] = "getPhone(resquest)"></td>
    <td>{{resquest.quantity}}</td>
    <td>{{resquest.status}}</td>

    <td><button type="button"(click)="openModal(template)">
        <img [src]="markerIconMapUrl(resquest)" width="43" height="43">
        </button>
        <ng-template  #template >
          <div class="modal-content">
            <div class="modal-body">
              <agm-map class="modal-map" [latitude]="toNumber(resquest.location_lat)" [longitude]="toNumber(resquest.location_lng)" [zoom]="15" >
                <agm-marker [latitude]="toNumber(resquest.location_lat)"
                            [longitude]="toNumber(resquest.location_lng)"
                            [iconUrl]="markerIconMapUrl(resquest)">
                </agm-marker>
              </agm-map>
            </div>
          </div>
        </ng-template>
    </td>
    <td>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="option(resquest)">Opções</button>
    </td>
  </tr>



</table>




<div class="fixed-action-btn" >
  <button class="btn btn-success" (click)="create()" ><span>Novo pedidos</span></button>
</div>
