<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form #resquestForm ="ngForm" (ngSubmit)="create(resquestForm)">

    <h4>Dados do Pedido</h4>

    <div class="form-group" *ngIf="modify">
      <label for="id">Id Pedido</label>
      <input id="id" [(ngModel)]="resquestTree._id" class="form-control" type="number" name="_id"  #_id="ngModel" disabled>
    </div>

    

    <div class="form-group">
      <label>Usuário</label>
      <select id="place" [(ngModel)]="resquestTree._user" class="form-control" name="_user" #_user="ngModel">
        <option *ngFor="let user of users" value='{{user._id}}' >{{user.name}}</option>

      </select>
    </div>




    <div class="form-group">
      <label>Árvore</label>
      <select id="place" [(ngModel)]="resquestTree._type" class="form-control" name="_type" #_type="ngModel">
        <option *ngFor="let tree of trees" value='{{tree._id}}' >{{tree.name}}</option>

      </select>
    </div>



    <div class="form-group">
      <label for="nome">Nome do requisitante</label>
      <input id="nome" [(ngModel)]="resquestTree.requester_name" class="form-control" type="text" name="requester_name"  #requester_name="ngModel">
    </div>



    <div class="form-group">
      <label>Lugar</label>
      <select id="place" [(ngModel)]="resquestTree.place" class="form-control" name="type" (click)= checkType() #place="ngModel">
        <option value="calcada">Calçada</option>
        <option value="canteiro" >Canteiro</option>
        <option value="quintal" >Quintal</option>
        <option value="jardim" >Jardim</option>
        <option value="escola" >Escola</option>

      </select>
    </div>



    <div class="form-group" *ngIf="checking">
      <label for="sidewalk_size">Tamanho da calçada</label>
      <input id="sidewalk_size" [(ngModel)]="resquestTree.sidewalk_size" class="form-control" type="number" name="sidewalk_size" #sidewalk_size="ngModel">
    </div>

    <div class="form-group">
      <label for="photo">URL da foto</label>
      <input id="photo" [(ngModel)]="resquestTree.photo" class="form-control" type="text" name="photo" #photo="ngModel">
    </div>



    <div class="form-group" *ngIf="modify">
      <label for="status">Status</label>
      <input id="status" [(ngModel)]="resquestTree.status" class="form-control" type="text" name="status" disabled #status="ngModel">
    </div>

    <hr *ngIf="modify">

    <h4 *ngIf="modify">Endereço</h4>

    <div class="form-group" >
      <label for="rua">Rua</label>
      <input id="rua" [(ngModel)]="resquestTree.street" class="form-control" type="text" name="street"  #street="ngModel">
    </div>

    <div class="form-group">
      <label for="numero">Número</label>
      <input id="numero" [(ngModel)]="resquestTree.number" class="form-control" type="text" name="number"  #number="ngModel">
    </div>

    <div class="form-group" >
      <label for="bairro">Bairro</label>
      <input id="bairro" [(ngModel)]="resquestTree.neighborhood" class="form-control" type="text" name="neighborhood"  #neighborhood="ngModel">
    </div>

    <div class="form-group" >
      <label for="complemento">Complemento</label>
      <input id="complemento" [(ngModel)]="resquestTree.complement" class="form-control" type="text" name="complement"  #complement="ngModel">
    </div>


    <div class="form-group" >
      <label for="cep">Cep</label>
      <input id="cep" [(ngModel)]="resquestTree.zipcode" class="form-control" type="text" name="zipcode"  #zipcode="ngModel">
    </div>




    <div class="modal-footer">
      <button type="button" class="btn btn-warning" *ngIf="modify" (click)= reject(resquestTree)>Rejeitar</button>
      <button type="button" class="btn btn-success" *ngIf="modify" (click)= approve(resquestTree)>Aprovar</button>
      <button type="button" class="btn btn-danger"  *ngIf="modify" (click)= delete(resquestTree)>Deletar</button>
      <button type="submit" class="btn btn-success" *ngIf="!modify">Confirmar</button>
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>

    </div>
  </form>
